# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Data
data/*.csv
!data/.gitkeep

# MLflow
mlruns/
mlartifacts/

# Reports
reports/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.log

# OS
.DS_Store
Thumbs.db